body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-family: 'Arial', sans-serif; /* Use an appropriate font */
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    /* background: url("/war/public/c.jpg") center/cover no-repeat; Replace with your lit candle image */
    border-radius: 10px;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    color: #ffcc00; /* Yellow text */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  span {
    display: block;
    color: #ff0000; /* Red error text */
    margin-bottom: 15px;
  }
  
  button {
    background-color: #000; /* Black button background */
    color: #ffcc00; /* Yellow button text */
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333; /* Darker background on hover */
  }
  
  